logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup/
conf/*.conf
!conf/*_default.conf
application-log*
external-assets/
