@import '../../../styles/base';

.layout-full-page {
  max-width: 1160px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 600px) {
  .layout-full-page {
    min-height: 300px;
  }
}
