.contest-module-card {
  h5 {
    margin-bottom: 0 !important;
  }
  margin-bottom: 5px;
}

.contest-module-card__content {
  float: left;
}

.contest-module-card__button {
  float: right;
  margin-top: 7px;
}
