.app-content {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 35px;
  overflow-x: auto;
}

@media only screen and (max-width: 750px) {
  .app-content {
    padding-top: 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .app-content.is-course-chapter-problem {
    height: calc(100vh - 50px);
  }
}
