.course-card {
  display: flex;
  flex-direction: column;

  hr {
    margin-top: 0 !important;
  }
}

.course-card__title {
  font-size: 20px !important;
  line-height: 20px !important;
}

.course-card__progress-bar {
  margin-top: auto;
}
