.item-short-answer-form {
  .answer-form {
    float: left;
    width: 70%;
  }

  .text-input {
    margin-left: 25px;
    &.readonly {
      background-color: rgba(206,217,224,.5);
      cursor: not-allowed;
    }
  }

  .button {
    width: 85px;
  }

  .callout {
    float: right;
    width: 30%;
    height: 35px;
    line-height: 18px;
  }
}
