.item-short-answer-form {
  display: flex;
  gap: 1px;

  .text-input {
    margin-left: 25px;
    &.readonly {
      background-color: rgba(206, 217, 224, 0.5);
      cursor: not-allowed;
    }
  }

  .button {
    width: 85px;
  }

  .callout {
    width: 150px;
    height: 35px;
    line-height: 14px;

    .bp5-icon {
      top: 10px !important;
    }
  }
}
