@import '../../styles/base';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.pagination__helper-text {
  margin-bottom: 0;
  color: $small-color;
}

.pagination__link {
  display: block;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none !important;
}
