@import '../../styles/base';

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.pagination__helper-text {
  margin-bottom: 0;
  color: $small-color;
  font-size: $font-size-small;
}

.pagination__link {
  display: block;
  text-decoration: none !important;
}
