.course-card {
  flex: 1 1 100%;
  margin-right: 10px;
}

.course-card__title {
  font-size: 20px !important;
  line-height: 20px !important;
}

.course-card__subtitle {
  font-size: 12px !important;
}
