.programming-problem-statement__name {
  text-align: center;
}

.programming-problem-statement__limits {
  width: 200px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;

  td,
  th {
    border: 1px #dee0e1 solid;
    border-top: 0;
    vertical-align: middle;
  }
}

.programming-problem-statement__text {
  margin-top: 25px;

  embed {
    width: 100%;
    min-height: 800px;
  }
}
