.clarification-filter-form {
  .form-status {
    min-width: 250px;
    button {
      width: 200px;
    }
  }

  .form-status {
    float: right;

    label {
      float: left;
      width: initial;
      line-height: 30px;
      margin-right: 5px;
    }

    .form-group__select {
      float: left;
      width: initial;
    }
  }

  button {
    float: right;
  }
}
