.uriel-admin-page-header {
  margin-bottom: 15px;
  margin-top: -15px;
}

.uriel-admin-dialog {
  width: 350px;
}

.uriel-admin-dialog-button {
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;
}

.uriel-admin-dialog-body {
  height: 420px;
}

.uriel-admin-dialog-result-body {
  height: 420px;
  overflow-y: auto;
}

.uriel-admin-dialog-result-table {
  margin-bottom: 25px;
}
