pidfile.path = "/dev/null"

general {
    title = "Training Gate"
    copyright = "{{ judgels_slogan }}"
    canonicalUrl = "{{ judgels_scheme }}://{{ jerahmeel_url }}"
    githubUrl = "https://github.com/ia-toki/judgels"
}

play {
    crypto.secret = "{{ jerahmeel_play_crypto_secret }}"

    http {
        session {
            cookieName = "JERAHMEEL_SESSION"
            secure = false
        }
        filters = "org.iatoki.judgels.play.JudgelsFilters"
    }

    modules {
        enabled += "org.iatoki.judgels.play.JudgelsModule"
        enabled += "org.iatoki.judgels.jerahmeel.JerahmeelModule"
        enabled += "org.iatoki.judgels.jerahmeel.jophiel.JophielModule"
        enabled += "org.iatoki.judgels.jerahmeel.sandalphon.SandalphonModule"
        enabled += "org.iatoki.judgels.jerahmeel.sealtiel.SealtielModule"
        enabled += "org.iatoki.judgels.jerahmeel.gabriel.GabrielModule"
    }

    i18n.langs = ["en-US"]
}

application.global = "org.iatoki.judgels.jerahmeel.JerahmeelGlobal"

file.encoding = "UTF-8"

db.default {
    driver = "com.mysql.jdbc.Driver"
    url = "jdbc:mysql://{{ db_host }}/judgels_jerahmeel{{ db_options }}"
    username = "{{ db_username }}"
    password = "{{ db_password }}"
    jndiName = "DefaultDS"
}
jpa.default = "defaultPersistenceUnit"

jerahmeel {
    baseUrl = "{{ judgels_scheme }}://{{ jerahmeel_url }}"
    baseDataDir = "var/data"
    welcomeMessage = "<p>Welcome to Training Gate!</p>"
}

jophiel {
    baseUrl = "{{ judgels_scheme_internal }}://{{ jophiel_url_internal }}"
}

sandalphon {
    baseUrl = "{{ judgels_scheme_internal }}://{{ sandalphon_url_internal }}"
    clientJid = "JIDSACL-jerahmeel"
    clientSecret = "{{ sandalphon_jerahmeel_secret }}"
}

sealtiel {
    baseUrl = "{{ judgels_scheme_internal }}://{{ sealtiel_url_internal }}"
    clientJid = "JIDSECL-jerahmeel"
    clientSecret = "{{ sealtiel_jerahmeel_secret }}"
}

gabriel {
    clientJid = "JIDSECL-gabriel"
}

raphael.baseUrl = "{{ judgels_scheme }}://{{ raphael_url }}"

aws = {
    global {
        # AWS global configuration (can be overridden by teamAvatar and submission)
        key {
            use = true
            access = "{{ jerahmeel_aws_accessKey }}"
            secret = "{{ jerahmeel_aws_secretKey }}"
        }
        s3.bucket.regionId = "{{ jerahmeel_aws_s3BucketRegionId }}"
    }

    submission {
        # AWS configuration for submissions. Some options can be omitted if present in global
        s3 {
            use = {{ jerahmeel_submission_fs_aws }}
            bucket {
                name = "{{ jerahmeel_submission_fs_s3BucketName }}"
                # regionId = "ap-southeast-1"
            }
        }
        key {
            # use = true
            # access = "xxx"
            # secret = "xxx"
        }
    }
}

banner {
    use = false
    link = ""
    imageSrc = ""
}

progressApi {
    token = "xxx"
    users {
        "JIDxxx": "usernamexxx"
        "JIDyyy": "usernameyyy"
    }
}
