server:
  applicationConnectors:
    - type: http
      port: 9005
  adminConnectors:
    - type: http
      port: 9015
  requestLog:
    appenders:
    - type: file
      currentLogFilename: var/log/jerahmeel-request.log
      archivedLogFilenamePattern: var/log/jerahmeel-request-%d.log.gz
      archivedFileCount: 14

database:
  driverClass: com.mysql.jdbc.Driver
  url: jdbc:mysql://{{ db_host }}/judgels{{ db_options }}
  user: {{ db_username }}
  password: {{ db_password }}
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate.generate_statistics: false
    hibernate.query.plan_cache_max_size: 64
    hibernate.query.plan_parameter_metadata_max_size: 32

logging:
  appenders:
    - type: console
      threshold: INFO
    - type: file
      currentLogFilename: var/log/jerahmeel.log
      archivedLogFilenamePattern: var/log/jerahmeel-%d.log.gz
      archivedFileCount: 14

  loggers:
    org.hibernate.type.BasicTypeRegistry:
      level: OFF

webSecurity:
  cors:
    allowedOrigins: {{ judgels_scheme }}://{{ raphael_url }}
    allowCredentials: true

jerahmeel:
  baseDataDir: /judgels/jerahmeel/var/data

  jophiel:
    baseUrl: {{ judgels_scheme }}://{{ jophiel_url }}

  sandalphon:
    baseUrl: {{ judgels_scheme }}://{{ sandalphon_url }}
    clientJid: JIDSACL-jerahmeel
    clientSecret: {{ sandalphon_jerahmeel_secret }}

{% if uriel_url is defined %}
  uriel:
    baseUrl: {{ judgels_scheme }}://{{ uriel_url }}
{% endif %}

  grader:
    gradingRequestQueueName: gabriel-grading-request
    gradingResponseQueueName: jerahmeel-grading-response

{% if rabbitmq_host is defined %}
  rabbitmq:
    host: {{ rabbitmq_host }}
    port: 5672
    username: {{ rabbitmq_username }}
    password: {{ rabbitmq_password }}
    virtualHost: "/"
{% endif %}

{% if jerahmeel_aws_accessKey is defined %}
  aws:
    accessKey: {{ jerahmeel_aws_accessKey }}
    secretKey: {{ jerahmeel_aws_secretKey }}
    s3BucketRegionId: {{ jerahmeel_aws_s3BucketRegionId }}
{% endif %}

  submission:
    fs:
      type: {{ jerahmeel_submission_fs_type }}
{% if jerahmeel_submission_fs_type != 'local' %}
      s3BucketName: {{ jerahmeel_submission_fs_s3BucketName }}
{% endif %}

  stats:
    enabled: {{ jerahmeel_stats_enabled }}
