configType: java
configVersion: 1
jvmOpts:
{% if jophiel_xmx is defined %}
  - -Xmx{{ jophiel_xmx }}
{% endif %}
  - -XX:+HeapDumpOnOutOfMemoryError
  - -XX:HeapDumpPath=/judgels/jophiel/var/log
  - -Dcom.sun.management.jmxremote.port=9201
  - -Dcom.sun.management.jmxremote.rmi.port=9201
  - -Dcom.sun.management.jmxremote.ssl=false
  - -Dcom.sun.management.jmxremote.authenticate=false
  - -Dcom.sun.management.jmxremote.local.only=false
  - -Djava.rmi.server.hostname=localhost
