window.conf = {
  mode: '{{ app_mode | default('JUDGELS', true) }}',
  name: '{{ app_name }}',
  slogan: '{{ app_slogan }}',
  apiUrl: 'https://{{ nginx_domain_judgels_server_api }}/v2',
  welcomeBanner: {
    title: '{{ app_title }}',
    description: '{{ app_description }}',
  },
{% if googleAnalytics_trackingId is defined %}
  googleAnalytics: {
    trackingId: '{{ googleAnalytics_trackingId }}',
  },
{% endif %}
{% if jophiel_auth_google_clientId is defined %}
  googleAuth: {
    clientId: '{{ jophiel_auth_google_clientId }}',
  },
{% endif %}
};
