# Disable disclosing Nginx version in header
server_tokens off;

# Enable HSTS (prevents malicious users from redirecting site traffic to HTTP after first open, for 1 year)
add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;

# Disable iframes except if from the same origin
add_header X-Frame-Options "SAMEORIGIN" always;

# Prevent browsers from guessing the content type of files
add_header X-Content-Type-Options "nosniff" always;

# Only allow referrer headers to be sent over HTTPS, and also only the domain name (without path) when cross origin
add_header Referrer-Policy "strict-origin-when-cross-origin" always;

{% if jophiel_url is defined %}
server {
    server_name {{ jophiel_url }};

    access_log off;

    location ~ /\. {
        deny all;
    }

    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
    }

    location / {
        proxy_pass              http://localhost:9001;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Proto https;
        proxy_set_header        X-Forwarded-Ssl on;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout   150;
        proxy_send_timeout      100;
        proxy_read_timeout      100;
        client_max_body_size    512M;
    }
}
{% endif %}

{% if sandalphon_url is defined %}

# Configuration for Sandalphon cache
proxy_cache_path /tmp/sandalphon_cache levels=1:2 keys_zone=sandalphon_cache:10m max_size=2g inactive=15m use_temp_path=off;

server {
    server_name {{ sandalphon_url }};

    access_log off;

    location ~ /\. {
        deny all;
    }

    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
    }

    location / {
        # Use cache for Sandalphon
        # (Sandalphon is prone to high CPU usage if serving many asset files concurrently)
        proxy_cache sandalphon_cache;

        # On cache miss, block incoming connections while waiting for a response from Sandalphon
        # (otherwise all incoming requests are directed to Sandalphon until Sandalphon responds,
        # which causes a short high CPU initial burst)
        proxy_cache_lock on;

        # Try to serve Sandalphon responses from cache if Sandalphon is down
        proxy_cache_use_stale error timeout http_500 http_502 http_503 http_504;

        proxy_pass              http://localhost:9002;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Proto https;
        proxy_set_header        X-Forwarded-Ssl on;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout   150;
        proxy_send_timeout      100;
        proxy_read_timeout      100;
        client_max_body_size    512M;
    }
}
{% endif %}

{% if sealtiel_url is defined %}
server {
    server_name {{ sealtiel_url }};

    access_log off;

    location ~ /\. {
        deny all;
    }

    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
    }

    location / {
        proxy_pass              http://localhost:9003;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Proto https;
        proxy_set_header        X-Forwarded-Ssl on;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout   150;
        proxy_send_timeout      100;
        proxy_read_timeout      100;
        client_max_body_size    512M;
    }
}
{% endif %}

{% if uriel_url is defined %}
server {
    server_name {{ uriel_url }};

    access_log off;

    location ~ /\. {
        deny all;
    }

    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
    }

    location / {
        proxy_pass              http://localhost:9004;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Proto https;
        proxy_set_header        X-Forwarded-Ssl on;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout   150;
        proxy_send_timeout      100;
        proxy_read_timeout      100;
        client_max_body_size    512M;
    }
}
{% endif %}

{% if jerahmeel_url is defined %}
server {
    server_name {{ jerahmeel_url }};

    access_log off;

    location ~ /\. {
        deny all;
    }

    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
    }

    location / {
        proxy_pass              http://localhost:9006;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Proto https;
        proxy_set_header        X-Forwarded-Ssl on;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout   150;
        proxy_send_timeout      100;
        proxy_read_timeout      100;
        client_max_body_size    512M;
    }
}
{% endif %}

{% if raphael_url is defined %}
server {
    server_name {{ raphael_url }};

    access_log off;
    proxy_buffering off;

    location ~ /\. {
        deny all;
    }

    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
    }

    location / {
        proxy_pass              http://localhost:5000;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Proto https;
        proxy_set_header        X-Forwarded-Ssl on;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout   150;
        proxy_send_timeout      100;
        proxy_read_timeout      100;
        client_max_body_size    512M;
    }
}
{% endif %}

{% if rabbitmq_mgmt_url is defined %}
server {
    server_name {{ rabbitmq_mgmt_url }};

    access_log off;

    location ~ /\. {
        deny all;
    }

    location ^~ /.well-known/acme-challenge {
        root /usr/share/nginx/html;
    }

    location / {
        proxy_pass              http://localhost:15672;
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-Proto https;
        proxy_set_header        X-Forwarded-Ssl on;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout   150;
        proxy_send_timeout      100;
        proxy_read_timeout      100;
    }
}
{% endif %}
