window.conf = {
  name: '{{ judgels_name }}',
  slogan: '{{ judgels_slogan }}',
  apiUrls: {
    jophiel: '{{ judgels_scheme }}://{{ jophiel_url }}/api/v2',
    legacyJophiel: '{{ judgels_scheme }}://{{ jophiel_url }}/api/legacy',
    uriel: '{{ judgels_scheme }}://{{ uriel_url }}/api/v2',
  },
  tempHome: {
    jerahmeelUrl: 'xxx',
  },
  welcomeBanner: {
    title: '{{ judgels_title }}',
    description: '{{ judgels_description }}',
  },
};
