window.conf = {
  mode: '{{ judgels_mode }}',
  name: '{{ judgels_name }}',
  slogan: '{{ judgels_slogan }}',
  apiUrls: {
    jophiel: '{{ judgels_scheme }}://{{ jophiel_url }}/v2',
    uriel: '{{ judgels_scheme }}://{{ uriel_url }}/v2',
{% if jerahmeel_url is defined %}
    jerahmeel: '{{ judgels_scheme }}://{{ jerahmeel_url }}/v2',
{% endif %}
  },
  welcomeBanner: {
    title: '{{ judgels_title }}',
    description: '{{ judgels_description }}',
  },
{% if googleAnalytics_trackingId is defined %}
  googleAnalytics: {
    trackingId: '{{ googleAnalytics_trackingId }}',
  }
{% endif %}
};
