window.conf = {
  mode: '{{ judgels_mode }}',
  name: '{{ judgels_name }}',
  slogan: '{{ judgels_slogan }}',
  apiUrls: {
    jophiel: '{{ judgels_scheme }}://{{ jophiel_url }}/api/v2',
    legacyJophiel: '{{ judgels_scheme }}://{{ jophiel_url }}/api/legacy',
    uriel: '{{ judgels_scheme }}://{{ uriel_url }}/api/v2',
{% if jerahmeel_url is defined %}
    jerahmeel: '{{ judgels_scheme }}://{{ jerahmeel_url }}/api/v2',
{% endif %}
  },
  tempHome: {
{% if jerahmeel_url is defined %}
    jerahmeelUrl: '{{ judgels_scheme }}://{{ jerahmeel_url }}',
{% endif %}
  },
  welcomeBanner: {
    title: '{{ judgels_title }}',
    description: '{{ judgels_description }}',
  },
};
