pidfile.path = "/dev/null"

general {
    title = "{{ judgels_name }} Repository Gate"
    copyright = "{{ judgels_slogan }}"
    canonicalUrl = "{{ judgels_scheme }}://{{ sandalphon_url }}"
    githubUrl = "https://github.com/ia-toki/judgels"
}

play {
    http {
        secret.key = "{{ sandalphon_play_crypto_secret }}"

        session {
            cookieName = "SANDALPHON_SESSION"
            maxAge = 7d
            secure = false
        }
        parser {
            maxDiskBuffer = 1GB
        }
    }

    filters {
        enabled = ["play.filters.csrf.CSRFFilter", "play.filters.gzip.GzipFilter"]
    }

    modules {
        enabled += "org.iatoki.judgels.sandalphon.SandalphonModule"
        enabled += "org.iatoki.judgels.sandalphon.jophiel.JophielModule"
        enabled += "org.iatoki.judgels.sandalphon.grader.GraderModule"
        enabled += "org.iatoki.judgels.sandalphon.messaging.MessagingModule"
        disabled += "play.core.ObjectMapperModule"
    }

    evolutions {
        autoApply = true
    }

    i18n.langs = ["en-US"]
}

file.encoding = "UTF-8"

db.default {
    driver = "com.mysql.jdbc.Driver"
    url = "jdbc:mysql://{{ db_host }}/judgels{{ db_options }}"
    username = "{{ db_username }}"
    password = "{{ db_password }}"
    jndiName = "DefaultDS"
}
jpa.default = "defaultPersistenceUnit"

sandalphon {
    baseDataDir = "/judgels/sandalphon/var/data"

    clients = [
{% if sandalphon_uriel_secret is defined %}
        "JIDSACL-uriel:{{ sandalphon_uriel_secret }}"
{% endif %}
{% if sandalphon_jerahmeel_secret is defined %}
        "JIDSACL-jerahmeel:{{ sandalphon_jerahmeel_secret }}"
{% endif %}
{% if sandalphon_gabriel_secret is defined %}
        "JIDSACL-gabriel:{{ sandalphon_gabriel_secret }}"
{% endif %}
    ]
}

jophiel {
    baseUrl = "{{ judgels_scheme }}://{{ jophiel_url }}"
}

grader {
    gradingRequestQueueName = gabriel-grading-request
    gradingResponseQueueName = sandalphon-grading-response
}

{% if rabbitmq_host is defined %}
rabbitmq {
    host = {{ rabbitmq_host }}
    port = 5672
    username = {{ rabbitmq_username }}
    password = {{ rabbitmq_password }}
    virtualHost = "/"
}
{% endif %}

banner {
    use = false
    link = ""
    imageSrc = ""
}
