pidfile.path = "/dev/null"

general {
    title = "{{ judgels_name }} Repository Gate"
    copyright = "{{ judgels_slogan }}"
    canonicalUrl = "{{ judgels_scheme }}://{{ sandalphon_url }}"
    githubUrl = "https://github.com/ia-toki/judgels"
}

play {
    http {
        secret.key = "{{ sandalphon_play_crypto_secret }}"

        session {
            cookieName = "SANDALPHON_SESSION"
            maxAge = 7d
            secure = false
        }
        parser {
            maxDiskBuffer = 1GB
        }
    }

    filters {
        enabled = ["play.filters.csrf.CSRFFilter", "play.filters.gzip.GzipFilter"]
    }

    modules {
        enabled += "org.iatoki.judgels.sandalphon.SandalphonModule"
        enabled += "org.iatoki.judgels.sandalphon.jophiel.JophielModule"
        enabled += "org.iatoki.judgels.sandalphon.sealtiel.SealtielModule"
        enabled += "org.iatoki.judgels.sandalphon.gabriel.GabrielModule"
        disabled += "play.core.ObjectMapperModule"
    }

    evolutions {
        autoApply = true
    }

    i18n.langs = ["en-US"]
}

file.encoding = "UTF-8"

db.default {
    driver = "com.mysql.jdbc.Driver"
    url = "jdbc:mysql://{{ db_host }}/judgels{{ db_options }}"
    username = "{{ db_username }}"
    password = "{{ db_password }}"
    jndiName = "DefaultDS"
}
jpa.default = "defaultPersistenceUnit"

sandalphon {
    baseDataDir = "/judgels/sandalphon/var/data"

    clients = [
{% if sandalphon_uriel_secret is defined %}
        "JIDSACL-uriel:{{ sandalphon_uriel_secret }}"
{% endif %}
{% if sandalphon_jerahmeel_secret is defined %}
        "JIDSACL-jerahmeel:{{ sandalphon_jerahmeel_secret }}"
{% endif %}
{% if sandalphon_gabriel_secret is defined %}
        "JIDSACL-gabriel:{{ sandalphon_gabriel_secret }}"
{% endif %}
    ]
}

jophiel {
    baseUrl = "{{ judgels_scheme }}://{{ jophiel_url }}"
}

{% if sealtiel_url is defined %}
sealtiel {
    baseUrl = "{{ judgels_scheme }}://{{ sealtiel_url }}"
    clientJid = "JIDSECL-sandalphon"
    clientSecret = "{{ sealtiel_sandalphon_secret }}"
}
{% endif %}

gabriel {
    clientJid = "JIDSECL-gabriel"
}

banner {
    use = false
    link = ""
    imageSrc = ""
}
