configType: java
configVersion: 1
jvmOpts:
{% if sealtiel_xmx is defined %}
  - -Xmx{{ sealtiel_xmx }}
{% endif %}
  - -XX:+HeapDumpOnOutOfMemoryError
  - -XX:HeapDumpPath=/judgels/sealtiel/var/log
  - -Dcom.sun.management.jmxremote.port=9203
  - -Dcom.sun.management.jmxremote.rmi.port=9203
  - -Dcom.sun.management.jmxremote.ssl=false
  - -Dcom.sun.management.jmxremote.authenticate=false
  - -Dcom.sun.management.jmxremote.local.only=false
  - -Djava.rmi.server.hostname=localhost
