server:
  applicationConnectors:
    - type: http
      port: 9004
  adminConnectors:
    - type: http
      port: 9104
  requestLog:
    appenders:
    - type: file
      currentLogFilename: var/log/uriel-request.log
      archivedLogFilenamePattern: var/log/uriel-request-%d.log.gz
      archivedFileCount: 14

database:
  driverClass: com.mysql.jdbc.Driver
  url: jdbc:mysql://{{ db_host }}/judgels{{ db_options }}
  user: {{ db_username }}
  password: {{ db_password }}
  initialSize: 50
  minSize: 50
  maxSize: 400
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate.generate_statistics: false
    hibernate.query.plan_cache_max_size: 64
    hibernate.query.plan_parameter_metadata_max_size: 32

logging:
  appenders:
    - type: console
      threshold: INFO
    - type: file
      currentLogFilename: var/log/uriel.log
      archivedLogFilenamePattern: var/log/uriel-%d.log.gz
      archivedFileCount: 14

  loggers:
    org.hibernate.type.BasicTypeRegistry:
      level: OFF

webSecurity:
  cors:
    allowedOrigins: {{ judgels_scheme }}://{{ raphael_url }}
    allowCredentials: true

uriel:
  baseDataDir: /judgels/uriel/var/data

  jophiel:
    baseUrl: {{ judgels_scheme }}://{{ jophiel_url }}

  sandalphon:
    baseUrl: {{ judgels_scheme }}://{{ sandalphon_url }}
    clientJid: JIDSACL-uriel
    clientSecret: {{ sandalphon_uriel_secret }}

{% if sealtiel_url is defined %}
  sealtiel:
    baseUrl: {{ judgels_scheme }}://{{ sealtiel_url }}
    clientJid: JIDSECL-uriel
    clientSecret: {{ sealtiel_uriel_secret }}
{% endif %}

  gabriel:
    clientJid: JIDSECL-gabriel

{% if uriel_aws_accessKey is defined %}
  aws:
    accessKey: {{ uriel_aws_accessKey }}
    secretKey: {{ uriel_aws_secretKey }}
    s3BucketRegionId: {{ uriel_aws_s3BucketRegionId }}
{% endif %}

  submission:
    fs:
      type: {{ uriel_submission_fs_type }}
{% if uriel_submission_fs_type != 'local' %}
      s3BucketName: {{ uriel_submission_fs_s3BucketName }}
{% endif %}

  file:
    fs:
      type: {{ uriel_file_fs_type }}
{% if uriel_file_fs_type != 'local' %}
      s3BucketName: {{ uriel_file_fs_s3BucketName }}
{% endif %}
