.statement-language-form__field {
  width: 280px;
  float: left;

  .form-statement-language {
    button {
      width: 200px;
    }
  }
}

.statement-language-form__button {
  margin-top: 10px;
  float: left;
}
