.chapter-lesson-card {
    margin-bottom: 10px;

    h4 {
        display: inline-block;
        margin-bottom: 0;
    }

    .bp4-icon {
        padding-bottom: 2px;
        margin-right: 10px;
    }
}
