#!/bin/bash

nginx

certbot --authenticator webroot --installer nginx -d {{ jophiel_url }} --agree-tos --email "{{ letsencrypt_email }}" --webroot-path=/var/www/html --redirect --must-staple --staple-ocsp --keep-until-expiring -q

nginx -s stop

sleep 3

nginx -g "daemon off;"
