@import '../../../../../../styles/base';

.contestant-problem-card__name {
  float: left;
}

.contestant-problem-card__status {
  color: $text-color !important;
  float: right;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
