.form-checkbox.bp6-control-indicator::before {
  display: block !important;
}

.form-checkbox.bp6-control {
  font-weight: normal;
}

.form-checkbox--small {
  line-height: 20px;
  margin-bottom: 0;
}
