.contest-clarification-create-dialog {
  width: 750px;
  height: 650px;
}

.contest-clarification-create-dialog-body {
  height: 520px;
}

// This is to compensate the increase in toolbar height

@media only screen and (max-width: 600px) {
  .contest-clarification-create-dialog {
    height: 700px;
  }

  .contest-clarification-create-dialog-body {
    height: 570px;
  }
}
