@use '../../../../../../styles/base' as *;

table.ioi-scoreboard__content {
  tbody tr {
    height: 40px;
  }

  td span.top {
    font-size: $font-size !important;
  }

  .clickable {
    cursor: pointer;
  }
}
