@import '../../../../../../styles/base';

table.bp3-html-table.icpc-scoreboard__content {
  td {
    strong {
      font-size: 16px;
    }
    small {
      color: $small-color;
    }
  }

  td.first-accepted {
    strong, small {
      color: #fff;
    }
    background: #1f8763 !important;
  }

  td.accepted {
    background: #e1fdd7 !important;
  }

  td.not-accepted {
    strong, small {
      color: #fff;
    }
    background: #e36262 !important;
  }
}
