.statement-language-widget-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.statement-language-widget {
  .form-table-input__label {
    font-weight: normal;
  }

  .statement-language-widget__right {
    margin-top: -10px;
    float: right;
  }
}
