.contest-clarification-card {
  h4 {
    margin-bottom: 10px !important;
    margin-right: 10px !important;

    float: left;
  }

  hr {
    margin-top: 0 !important;
  }
}

.contest-clarification-card__answer {
  margin-top: 10px;
}
