@import '../../../../styles/table';

.archives-table {
  .col-id {
    width: 60px;
  }

  .col-slug {
    width: 200px;
  }

  .col-actions {
    width: 40px;
  }

  .action {
    cursor: pointer;
  }
}
