.language-form {
  .language-form__field {
    width: 210px;

    .form-table-input__group.form-language {
      button {
        width: 210px;
      }
    }
  }

  .language-form__button {
    margin-top: 2px;
    height: 30px;
  }
}
