@import '../../../../../../../../styles/base';

.chapter-resources-page {
  flex: 1 1;
  max-width: 865px;
}

.chapter-resources-page__title {
  margin-bottom: 20px;
  line-height: 20px !important;
}

.chapter-resources-page__title--link {
  color: inherit !important;

  &:hover {
    text-decoration: none;
    color: $primary-color !important;
  }
}

.chapter-resources-page__title--chevron {
  color: $dark-secondary-background-color !important;
}
