@import '../../../../../../../../styles/base';

.chapter-resources-page {
  flex: 1 1;
  max-width: 865px;
}

.chapter-resources-page__title {
  margin-bottom: 20px;
  font-size: 22px !important;
  line-height: 24px !important;
}

.chapter-resources-page__title--link {
  color: inherit !important;

  &:hover {
    text-decoration: none;
    color: $primary-color !important;
  }

  & .bp5-icon {
    height: 22px;
  }
}

.chapter-resources-page__title--chevron {
  height: 24px;
  color: $dark-secondary-background-color !important;
}
