.submission-image-dialog {
  width: 800px;
}

.submission-image-card {
  height: 650px;
  overflow: auto;
}

.submission-image {
  overflow: auto;
}

@media only screen and (max-width: 800px) {
  .submission-image-dialog {
    width: inherit;
  }
}
