@import play.api.mvc.Call

@(pageIndex: Long, orderBy: String, orderDir: String, filterString: String, listFunc: (scala.Long, String, String, String) => Call)

<form class="form form-inline pull-right" action='@listFunc(pageIndex, orderBy, orderDir, "")' method="GET">
    <div class="form-group">
        <input type="hidden" name="orderBy" value="@orderBy"/>
        <input type="hidden" name="orderDir" value="@orderDir"/>
        <input type="search" class="form-control" name="filterString" value="@filterString">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
