body { 
  font-family: "Open Sans", sans-serif; 
  font-size: 14px; 
  font-weight: 400; 
  font-stretch: 100%;
  letter-spacing: normal;
}

small {
  font-size:12px; 
}

strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  color: #252527 !important;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700 !important;
  margin: 0 0 10px;
}

p {
  line-height: 20px;
}

small {
  color: #5d5d66;
  line-height: 14px !important;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 18px !important;
}

h4 {
  font-size: 16px !important;
}

h5 {
  font-size: 14px !important;
}
