.item-essay-form {
  width: 60%
}

.text-input {
  width: 80%;
  min-height: 100px;
}

.live {
  resize: vertical;
}

.readonly {
  resize: none;
}

.buttons {
  width: 20%;
}

.button {
  width: 15%;
}

.callout {
  width: 85%
}

.callout-edit {
  width: 70%;
  background-color: white;
  color: white;
}

.divider {
  margin-top: 3px;
}