.item-essay-form {
  .text-area {
    width: 80%;
    min-height: 100px;

    &.live {
      resize: vertical;
    }

    &.readonly {
      resize: none;
      background-color: rgba(206,217,224,.5);
      cursor: not-allowed;
    }
  }

  .essay-button {
    width: 15%;
    height: 35px;
  }

  .essay-callout {
    width: 85%;
    height: 35px;
    line-height: 18px;
  }

  .essay-callout-edit {
    width: 70%;
    background-color: white;
    color: white;
  }

  .divider {
    margin-top: 3px;
  }
}