.contest-supervisor-dialog {
  width: 380px;
}

.contest-supervisor-dialog-button {
  float: left;
  margin-right: 5px;
}

.contest-supervisor-dialog-body {
  height: 430px;
}

.contest-supervisor-dialog-result-body {
  height: 430px;
  overflow-y: auto;
}

.contest-supervisor-dialog-result-table {
  margin-bottom: 25px;
}
