@import org.iatoki.judgels.play.template.InternalLink
@import org.iatoki.judgels.play.template.sidebar.html.menusView

@(menus: List[InternalLink], upperWidgets: List[Html], lowerWidgets: List[Html])(content: Html)

<div class="row content">
    <div class="col-md-3">
        <div class="sidebar clearfix">
            @for(widget <- upperWidgets) {
                @widget
            }
            @menusView(menus)
            @for(widget <- lowerWidgets) {
                @widget
            }
        </div>
    </div>
    <div class="col-md-9">
        @content
    </div>
</div>
