.problem-grading-config-edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__test-cases {
    width: 100%;
  }

  &__action {
    width: 1px;
    white-space: nowrap;
  }

  &__subtask {
    margin-bottom: 0;
  }
}
