@import '../../../../../../../../styles/base';

.basic-profile-card {
  p {
    line-height: 16px;
  }
}

.basic-profile-card__main {
  float: left;
  width: 180px;
  height: 180px;
  font-size: 16px;
  text-align: center;
}

.basic-profile-card__divider {
  float: left;
  height: 220px;
  border-right: 1px solid #d2d3d5;
  margin: -20px 15px;
}

.basic-profile-card__avatar {
  max-height: 120px;
  max-width: 120px;
  margin-bottom: 10px;
}

.basic-profile-card__details {
  float: left;
}

.basic-profile-card__details-keys {
  float: left;
  font-weight: bold;
  width: 70px;
}

.basic-profile-card__details-values {
  float: left;
}
