:root {
    --primary-font: 'Open Sans', sans-serif;
    --accent-font: 'Roboto', sans-serif;
    --primary-font-size: 14px;
    --brand-primary-color: #337ab7;
    --primary-color: #43A047;
    --accent-color: #cccccc;
    --content-color: #ffffff;
    --background-color: #eeeeee;
    --button-color: #2c3031;
    --primary-font-color: #000000;
    --accent-font-color: #FFFFFF;
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('../lib/open-sans/fonts/regular/opensans-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: normal;
    src: url('../lib/roboto-fontface/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    src: url('../lib/open-sans/fonts/bold/opensans-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('../lib/roboto-fontface/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    src: url('../lib/open-sans/fonts/semibold/opensans-semibold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../lib/roboto-fontface/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 800;
    src: url('../lib/open-sans/fonts/extrabold/opensans-extrabold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('../lib/roboto-fontface/fonts/Roboto/Roboto-Black.ttf') format('truetype');
}

header {
    color: var(--accent-font-color);
    background-color: var(--primary-color);
    -webkit-box-shadow: 3px 3px 2px 1px rgba(119,119,119,0.4);
    -moz-box-shadow: 3px 3px 2px 1px rgba(119,119,119,0.4);
    box-shadow: 3px 3px 2px 1px rgba(119,119,119,0.4);
}

header .logo {
    margin: 5px 0;
    height: 35px;
}

header .title {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}

header .title h1 {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: 22px;
    color: var(--accent-font-color);
    line-height: 35px;
}

header .row {
    margin: 0;
}

header .title a:hover {
    text-decoration: none;
}

body {
    color: var(--primary-font-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    background-color: var(--background-color);
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

input[type="text"], input[type="password"], textarea {
    color: var(--primary-font-color);
}

.form-horizontal .control-label{
    text-align: left;
}

h2 {
    font-family: var(--accent-font);
}

h3 {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 18px;
}

h4 {
    font-family: var(--accent-font);
    font-weight: bold;
    font-size: 16px;
}

.content {
    padding-top: 15px;
    width: 100%;
    margin: 0;
}

.tag-separator {
    margin-top: 0;
    margin-bottom: 10px;
}

.avatar {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--content-color);
    border: 1px solid var(--accent-color);
}

.avatar-picture {
    height: 64px;
    width: 64px;
    border: 1px solid lighten(var(--accent-color), 10%);
}

.avatar-username {
    font-family: var(--accent-font);
    color: var(--primary-font-color);
    font-size: 16px;
    line-height: 20px;
}

.avatar-real-name {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-size: 12px;
    line-height: 20px;
}

.avatar-menu {
    font-family: var(--primary-font);
    color: var(--primary-font-color);
    font-size: 10px;
}

.box {
    margin-top: 15px;
    padding: 10px 0;
    background-color: var(--content-color);
    border: 1px solid var(--accent-color);
}

.box-alert {
    margin-top: 15px;
}

.box.no-margin {
    margin: 0px;
}

.primary-content {
    background-color: var(--content-color);
    min-height: 624px;
    border: 1px solid var(--accent-color);
}

.primary-content:not(:only-child) {
    margin-top: 15px;
}

.primary-content-breadcrumb {
    margin: 15px 15px 0 15px;
    border: 1px solid var(--accent-color);
    background-color: var(--content-color);
}

.primary-content-breadcrumb ol li a {
    color: var(--primary-font-color);
}

ol.breadcrumb {
    background-color: var(--content-color);
    margin-bottom: 0;
}

.server-time {
    margin: 8px 0;
    color: var(--primary-font-color);
    font-size: var(--primary-font-size);
}

.menu:not(:only-child) {
    margin-top: 15px;
}

.sidebar-wrapper {
    -webkit-transition: width 0.3s ease;
    -moz-transition:    width 0.3s ease;
    -o-transition:    width 0.3s ease;
    transition:    width 0.3s ease;
}

.sidebar.r > .menu {
    text-align: right;
}

.menu > .nav > li > ul {
    margin-left: 278px;
    margin-top: -54px;
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
}

.menu > .nav > li > ul > li {
    position: relative;
}

.menu > .nav li a {
    display: block;
    background-color: var(--content-color);
    color: var(--primary-font-color);
    font-size: 16px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid var(--accent-color);
}

.menu > .nav li.active {
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
}

.menu > .nav li > a:hover, .menu > .nav li > a:focus {
    color: var(--brand-primary-color);
    background-color: lighten(var(--accent-color), 10%);
    text-decoration: none;
}

.menu > .nav li.active {
    text-shadow: none;
}

.menu > .nav li.active a {
    color: var(--brand-primary-color);
}

.menu-arrow {
    position: absolute;
    top: 12px;
    right: 15px;
    line-height: 27px;
    font-size: 22px;
    text-align: center;
    color: var(--accent-color);
    background: var(--content-color) center center no-repeat;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid var(--accent-color);
}

.sidebar.r > .menu > .nav > li > .menu-arrow {
    left: 15px;
}

.navbar-header {
    padding: 0 15px;
}

.menu > .nav > li.active > .menu-arrow {
    background: var(--brand-primary-color) center center no-repeat !important;
}

ol.breadcrumb li {
    margin-left: 0;
}

th {
    font-family: var(--accent-font);
    font-weight: bold;
}

.table-col-id {
    width: 50px;
}

.table-col-actions {
    width: 50px;
}

.table-col-updated-at {
    width: 160px;
}

.table-col-item-actions {
    width: 80px;
}

.navbar.navbar-default:first-child {
    margin-top: 15px;
}

.table-cell {
    display: table-cell;
}

.inline-headers h2, .inline-headers h3, .inline-headers h4, .inline-headers h5, .inline-headers h6 {
    display: inline-block;
    vertical-align: baseline;
}

.inline-headers .btn {
    margin-bottom: 10px;
}

.inline-headers .btn:first-of-type {
    margin-left: 10px;
}

/* This is for displaying html body text */

.content-text.scrollable {
    height: 600px;
    padding: 15px;
    overflow-y: scroll;
}

.content-text table {
    margin-bottom: 10px;
}

.content-text table, .content-text th, .content-text td {
    border-collapse: collapse;
    border: 1px solid black;
}

.content-text th, .content-text td {
    padding: 5px;
}

.content-text th {
    font-family: var(--accent-font);
    font-weight: bold;
    background-color: #EEEEEE;
}

.content-text em {
    font-style: italic;
}

.content-text strong {
    font-family: var(--accent-font);
}

.content-text ol li, .content-text ul li {
    margin-left: 25px;
}

.content-text ol.breadcrumb li {
    margin-left: 0;
}

.content-text html, .content-text body {
    height: 100%;
    min-height: 100%;
}

.content-text blockquote {
    font-size: var(--primary-font-size);
}

.content-text .spoiler {
    margin-top: 5px;
    background-color: #f8f8f8;
    padding: 10px;
    border: 2px dashed #e7e7e7;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--accent-font);
    font-weight: bold;
}

.content-text .spoiler:hover {
    background-color: #e7e7e7;
}

.content-text .spoiler .spoiler-content {
    display: none;
    border-top: 1px solid var(--primary-font-color);
    margin-top: 5px;
    padding-top: 15px;
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: normal;
}

.content-text embed {
    width: 100%;
    min-height: 800px;
}

.katex {
    font-size: 16px !important;
}

.nav-tabs > li > a {
    color: #555;
}

.form-inline > .form-group {
    margin: 0;
}

.form-inline > .form-group > div {
    display: inline-block;
}

.form-inline > .form-group > div > input[type="text"] {
    width: 150px;
}

.form.form-inline.pull-right {
    margin-bottom: 15px;
}

.panel-heading {
    font-family: var(--accent-font);
}

.control-label {
    font-weight: 400;
}

.statement-help-modal-body, .statement-help-modal-body pre {
    font-size: 12px;
}

.statement-help-modal-body ol, .statement-help-modal-body ul {
    margin-left: 20px;
}

.statement-help-modal-body, .statement-help-modal-body p {
    margin: 0;
}

footer {
    margin-top: 15px;
    color: var(--accent-font-color);
    background-color: var(--primary-color);
    padding: 10px 0;
}

footer a {
    color: var(--accent-font-color) !important;
}

footer .row {
    margin: 0;
}
