- block:
  - name: Add or modify nofile hard limit for the user root
    pam_limits:
      domain: root
      limit_type: hard
      limit_item: nofile
      value: 8192

  - name: Add or modify nofile soft limit for the user root
    pam_limits:
      domain: root
      limit_type: soft
      limit_item: nofile
      value: 8192

  - name: Create nginx-cerbot container mount volume
    file:
      path: "{{ item }}"
      state: directory
      mode: "0755"
    with_items:
      - /judgels/letsencrypt
      - /judgels/sites

  - name: Generate nginx site
    template:
      src: "{{ playbook_dir }}/../conf/nginx-certbot.conf.j2"
      dest: /judgels/sites/default.conf

  - name: Pull nginx-certbot image
    docker_image:
      name: judgels/nginx-certbot
      force: yes

  - name: Create a nginx-certbot container
    docker_container:
      name: nginx-certbot
      image: judgels/nginx-certbot
      command: nginx
      restart: yes
      restart_policy: always
      network_mode: host
      volumes:
        - /judgels/letsencrypt:/etc/letsencrypt
        - /judgels/sites:/etc/nginx/conf.d
      env:
        CERTBOT_EMAIL: "{{ letsencrypt_email }}"

  - name: Allow Nginx HTTP traffic through the firewall
    ufw:
      rule: allow
      to_port: 80
      proto: tcp
      comment: Judgels Nginx HTTP

  - name: Allow Nginx HTTPS traffic through the firewall
    ufw:
      rule: allow
      to_port: 443
      proto: tcp
      comment: Judgels Nginx HTTPS
