.submission-details {
  tr {
    height: 30px;
  }

  th {
    padding-top: 0;
  }

  td {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }

  .col-info {
    width: 200px;
  }

  .col-id {
    width: 50px;
  }

  .col-verdict {
    width: 100px;
    text-align: center;
  }

  .col-tc-info {
    width: 110px;
  }

  .col-tc-subtasks {
    width: 150px;
    text-align: center;
  }

  .col-centered {
    text-align: center;
  }
}

.test-group__id {
  float: left;
}

.test-group__subtasks-tags {
  float: right;
}

.test-group__subtasks {
  font-weight: 600;
  margin-right: 5px;
}
