@import '../../../../styles/base';

.contest-card-name {
  margin-right: 10px;
}

.contest-card-date {
  margin-top: -4px;
  margin-bottom: 0;
}

.contest-card-role {
  font-weight: normal;
  float: right;
}
