@import '../../styles/variables/colors';

.content-card {
  padding: 15px;
  margin-bottom: 15px;
  overflow: auto;

  h3 {
    margin-bottom: 5px;
  }
}

.bp4-dark .content-card {
  box-shadow: 0 0 0 0.5px $gray1 !important;
}

.content-card__section {
  margin-bottom: 15px;
}

.content-card__header {
  margin-bottom: 10px;

  button.float-left,
  .float-left button {
    margin-bottom: 5px;
  }

  .bp4-form-group {
    margin-bottom: 0;
  }
}
