.chapter-problem-card {
  margin-bottom: 10px;

  .content-card-link {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .chapter-problem-card__heading {
    display: flex;
    gap: 10px;
  }

  h4 {
    flex: 1 1;
    margin-bottom: 0;
  }

  .bp4-icon {
    padding-top: 1px;
  }

  .bp4-tag {
    height: 21px;
  }

  &--future {
    background-color: inherit;

    a h4, .chapter-problem-card__heading > .bp4-icon {
      font-weight: normal !important;
      color: #bcc0c2;
    }

    a:hover h4, a:hover .chapter-problem-card__heading > .bp4-icon {
      color: inherit !important;
    }

    .bp4-tag {
      background-color: #ced4d8;
    }
  }
}

.bp4-dark {
  .chapter-problem-card {
    &--future {
      background-color: inherit;

      a h4, .chapter-problem-card__heading > .bp4-icon {
        font-weight: normal !important;
        color: #5d6c79;
      }

      .bp4-tag {
        background-color: #5f6d79;
      }
    }
  }
}
