.chapter-problem-card {
  margin-bottom: 10px;

  .content-card-link {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .chapter-problem-card__heading {
    display: flex;
    gap: 10px;
  }

  h4 {
    flex: 1 1;
    margin-bottom: 0;
  }

  .bp4-icon {
    padding-top: 1px;
  }

  .bp4-tag {
    height: 21px;
  }

  &--future {
    background-color: inherit;

    a {
      opacity: 50%;

      h4 {
        font-weight: normal !important;
      }
    }
  }
}

.bp4-dark {
  .chapter-problem-card {
    &--future {
      background-color: inherit;

    }
  }
}
