.chapter-problem-card {
  margin-bottom: 10px;

  .content-card-link {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  .chapter-problem-card__heading {
    display: flex;
  }

  h4 {
    flex-grow: 1;
    margin-left: 10px;
    margin-bottom: 0;
  }

  .bp4-icon {
    padding-top: 1px;
  }
}
