@import '../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

$primary-color: #3b73b9;
$text-color: #252527;
$secondary-text-color: #5d5d66;
$secondary-background-color: #eef2fb;
$tertiary-background-color: rgba(191, 204, 214, 0.4);

$dark-text-color: #c9d1d9;
$dark-blue-main-background-color: #0c5174;
$dark-blue-secondary-background-color: #0c5174;
$dark-secondary-text-color: $gray4;
$dark-secondary-background-color: $gray1;
$dark-tertiary-background-color: rgba(92, 112, 128, 0.3);
