@import '../../styles/base';

.menubar {
  width: 100%;
  height: 45px;
  background-color: white;
  box-shadow: 0 1px 1px #f4f5f6;
}

.menubar__content {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  *:focus {
    outline: none;
  }

  .bp3-tab {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    line-height: 45px;
    height: 45px;
    color: $primary-color;
  }

  .bp3-tab[aria-selected="true"] {
    font-weight: 600;
    background-color: $header-color !important;
    color: $text-color;
  }

  .bp3-tab-indicator-wrapper {
    height: 45px !important;
    z-index: 1;
  }

  .bp3-tab-indicator {
    background-color: $primary-color;
  }
}
