@use '../../styles/base' as *;

.content-card.content-card-link {
  color: inherit !important;
  display: block;
  padding: 0;
  overflow: auto;
}

.content-card-link:hover {
  cursor: pointer;
  text-decoration: none;

  .bp6-light & {
    background-color: $secondary-background-color;
  }

  .bp6-dark & {
    background-color: $dark-secondary-background-color;
  }
}

.content-card-link__content {
  height: 100%;
  padding: 15px;
}
