@import org.iatoki.judgels.play.template.InternalLink

@(title: String, buttons: List[InternalLink], backButton: InternalLink)(content: Html)

@if(buttons.isEmpty && backButton == null) {
    <h2>@title</h2>
} else {
    <div class="inline-headers">
        <h2>@title</h2>

        @for(button <- buttons) {
            <a class="btn btn-primary btn-sm" href="@button.getTarget">@button.getLabel</a>
        }
        @if(backButton != null) {
            <a class="btn btn-danger btn-sm" href="@backButton.getTarget"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> @backButton.getLabel</a>
        }
    </div>
}

@content
