.top-ratings-widget {
  .card__content {
    padding: 0;
  }
}

.top-ratings-widget__empty {
  padding: 20px;
}

.top-ratings-widget__table {
  td, th {
    border-bottom: none !important;
  }

  th {
    border-top: none !important;
  }

  tr:nth-child(1) {
    td {
      border-top: none !important;
    }
  }

  .col-rank {
    border-left: none !important;
    width: 35px;
    text-align: center;
  }

  .col-rating {
    width: 120px;
    border-right: none !important;
  }
}
