.item-essay-form {
  margin-left: 25px;

  .text-area {
    width: 80%;
    min-height: 100px;

    &.live {
      resize: vertical;
    }

    &.readonly {
      resize: none;
      background-color: rgba(206, 217, 224, 0.5);
    }
  }

  .essay-button {
    height: 35px;
    flex-shrink: 0 !important;
  }

  .essay-callout {
    height: 35px;
    line-height: 14px;

    .bp6-icon {
      top: 10px !important;
    }
  }

  .essay-callout-edit {
    height: 35px;
    background-color: white;
    color: white;
  }

  .divider {
    margin-top: 3px;
  }
}
