.contest-scoreboard-page {
  h3 {
    float: left;
  }

  .clearfix {
    &::after {
      display: block;
      content: '';
      clear: both;
    }
  }

  hr {
    margin-top: 10px !important;
  }
}

.contest-scoreboard-page__info {
  float: right;
  line-height: 9px !important;
  margin-bottom: 0 !important;
}
