.content-with-sidebar {
  display: flex;
}

.content-with-sidebar__sidebar {
  width: 270px;
  margin-right: 25px;
  margin-bottom: 15px;
}

.content-with-sidebar__content {
  flex-grow: 1;
  max-width: 865px;
}

.content-with-sidebar__content--small {
  max-width: 705px;
}

@media only screen and (max-width: 750px) {
  .content-with-sidebar {
    display: block;
  }
}
