.contest-scoreboard-page {
  h3 {
    float: left;
  }

  hr {
    margin-top: 10px !important;
  }
}

.contest-scoreboard-page__info {
  float: right;
  line-height: 9px !important;
  margin-bottom: 0 !important;
}

.contest-scoreboard-page__frozen {
  padding-right: 5px;
  margin-top: 0;
  margin-bottom: 5px;

  h4 {
    font-size: 14px;
  }
}

.contest-scoreboard-page__filters {
  margin-bottom: 5px;
  float: left;
}

.contest-scoreboard-page__filter {
  float: left;
  margin-right: 25px;
}

.contest-scoreboard-page__refresh-button {
  float: right;
  margin-bottom: 10px;
}

.submission-image-dialog {
  width: 750px;
  height: 650px;
}

.submission-image {
  overflow: auto;
}
