@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  src: url('../assets/fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('../assets/fonts/OpenSans-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../assets/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: normal;
  src: url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url('../assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../assets/fonts/Roboto-Black.ttf') format('truetype');
}
