@import '../../node_modules/reset-css/reset.css';
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/@blueprintjs/core/dist/blueprint.css';

@import './base';
@import './fonts';

body {
  font-family: $primary-font;
  background-color: #f4f5f6;
}

h3 {
  font-size: $font-size-large;
  font-weight: bold;
  color: $text-color !important;
  line-height: 0.5 * $font-size-large !important;
}

h4 {
  font-size: $font-size;
  font-weight: bold;
  line-height: $font-size-large !important;
}

a {
  color: $primary-color;
}

td {
  color: $text-color !important;
}

.toast {
  margin-top: 50px;
}

label {
  font-size: $font-size-small;
  font-weight: bold;
}

input {
  font-family: $primary-font;
  width: 100%;
  height: 35px !important;
  border-radius: 2px;
}

select {
  width: 100%;
}

table {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.dispay-block {
  display: block;
}
