@import '../../styles/base';

.card-sidebar {
  *:focus {
    outline: none;
  }

  svg {
    height: 50px;
  }

  .card__content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bp3-tag {
    display: inline;
  }

  .bp3-tab-list {
    left: -20px;
    width: 270px;
  }

  .bp3-tab-indicator {
    background-color: $div-hover-color !important;
    border-radius: 0 !important;
    border-left: 3px solid $primary-color;
  }

  .bp3-tab {
    a {
      width: 100%;
      position: absolute;
    }

    position: relative;
    padding-left: 20px !important;
    line-height: 50px;
    height: 50px;
  }

  .bp3-tab[aria-selected="true"] {
    font-weight: bold;
    color: $text-color;
  }

  .bp3-tab[aria-selected="false"] {
    color: $primary-color;
  }
}

.card-sidebar__arrow {
  line-height: 50px !important;
  color: $primary-color !important;
  float: right;
}

.card-sidebar__full {
  display: block;
}

.card-sidebar__responsive {
  display: none;
}

@media only screen and (max-width: 750px) {
  .card-sidebar__full {
    display: none;
  }

  .card-sidebar__responsive {
    display: block;
    width: 200px;
    top: -15px;
    height: 30px;

    .bp3-tab-list {
      left: 0;
    }
  }

  .card-sidebar__responsive__menu {
    svg {
      height: inherit;
    }
  }

  .bp3-overlay-content {
    top: -10px !important;
  }
}
