.contest-scoreboard-page {
  hr {
    margin-top: 10px !important;
  }
}

.contest-scoreboard-page__info {
  line-height: 9px !important;
  margin-bottom: 0 !important;
}

.contest-scoreboard-page__frozen {
  padding-right: 5px;
  margin-top: 0;
  margin-bottom: 5px;

  h4 {
    font-size: 14px;
  }
}
