server:
  applicationConnectors:
    - type: http
      port: 9001
  adminConnectors:
    - type: http
      port: 9011
  requestLog:
    appenders:
    - type: file
      currentLogFilename: var/log/jophiel-request.log
      archivedLogFilenamePattern: var/log/jophiel-request-%d.log.gz
      archivedFileCount: 14

database:
  driverClass: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost/judgels_jophiel?useSSL=false
  user: jophiel
  password: jophiel
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.MySQL57Dialect
    hibernate.generate_statistics: false
    hibernate.hbm2ddl.auto: "update"

logging:
  appenders:
    - type: console
      threshold: INFO
    - type: file
      currentLogFilename: var/log/jophiel.log
      archivedLogFilenamePattern: var/log/jophiel-%d.log.gz
      archivedFileCount: 14

  loggers:
    org.hibernate.type.BasicTypeRegistry:
      level: OFF

webSecurity:
  cors:
    allowedOrigins: "*"

jophiel:
  baseDataDir: /judgels/jophiel/var/data

  mailer:
    host: xxx
    port: 25
    useSsl: false
    username: xxx
    password: xxx
    sender: noreply@jophiel.judgels

#  recaptcha:
#    siteKey: xxx
#    secretKey: xxx

#  aws:
#    accessKey: xxx
#    secretKey: xxx
#    s3BucketRegionId: ap-southeast-1
#    cloudFrontBaseUrl: https://xxx.cloudfront.net

  userAvatar:
    fs:
      type: local
#   fs:
#     type: aws
#     s3BucketName: judgels-jophiel-avatars

  userRegistration:
    enabled: true
    useRecaptcha: false
    activationEmailTemplate:
      subject: Activate your account
      body: |
        <p>Dear {{username}},</p>
        <p><a href="http://localhost:3000/activate/{{emailCode}}">Click here</a> to activate your account.</p>

  userResetPassword:
    enabled: true
    requestEmailTemplate:
      subject: Someone requested to reset your password
      body: |
        <p>Dear {{username}},</p>
        <p><a href="http://localhost:3000/reset-password/{{emailCode}}">Click here</a> to reset your password.</p>
    resetEmailTemplate:
      subject: Your password has been reset
      body: |
        <p>Dear {{username}},</p>
        <p>Your password has been reset.</p>
