@import '../../../../../../../../../../styles/base';

table.pt-html-table.icpc-scoreboard__content {
  td.first-accepted {
    strong, small {
      color: #fff;
    }
    background: #1f8763 !important;
  }

  td.accepted {
    background: #e1fdd7 !important;
  }

  td.not-accepted {
    strong, small {
      color: #fff;
    }
    background: #c24242 !important;
  }
}
