table.pt-table.scoreboard__content {
  td, th {
    border: 1px #dee0e1 solid;
    text-align: center;
    vertical-align: middle;
  }

  th {
    color: #3b73ba;
    font-weight: bold;
  }

  thead tr {
    height: 50px;
  }

  tbody tr {
    height: 60px;
  }

  .rank-cell {
    width: 20px;
  }

  .contestant-cell {
    font-weight: bold;
    text-align: left;
  }

  .problem-cell {
    width: 60px;
  }

  td {
    strong {
      font-size: 16px;
    }
  }

  td.first-accepted {
    strong, small {
      color: #fff;
    }
    background: #1f8763 !important;
  }

  td.accepted {
    strong, small {
      color: #000;
    }
    background: #e1fdd7 !important;
  }

  td.not-accepted {
    strong, small {
      color: #fff;
    }
    background: #c24242 !important;
  }
}
