@import '../../../../../../../../../../styles/table';

.submissions {
  .col-id {
    width: 90px;
  }

  .col-prob {
    width: 80px;
  }

  .col-lang {
    width: 90px;
  }

  .col-verdict {
    width: 60px;
  }

  .col-pts {
    width: 70px;
  }
}
