@import '../../../../styles/base';

.course-card .content-card-link {
  padding-bottom: 15px;
}

.course-card__progress {
  float: right;
}

.course-card__description {
  color: $small-color;
  font-size: $font-size-small;
}
