@import '../../node_modules/reset-css/reset.css';
@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/@blueprintjs/core/lib/css/blueprint.css';
@import '../../node_modules/@blueprintjs/datetime/lib/css/blueprint-datetime.css';
@import '../../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css';

@import './base';
@import './table';
@import './ratings';

.bp5-dark,
.bp5-dark td,
.bp5-dark th,
.bp5-dark table.bp5-html-table td,
.bp5-dark table.bp5-html-table th,
.bp5-dark label,
.bp5-dark .bp5-control,
.bp5-dark .bp5-dialog,
.bp5-dark .bp5-tag.bp5-intent-primary,
.bp5-dark .bp5-breadcrumb-current {
  color: $dark-text-color;
}

body {
  font-family: $primary-font;
  background-color: $background-color;
}

body .bp5-dark {
  background-color: $dark-background-color !important;
}

.secondary-info {
  font-family: $accent-font;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $accent-font !important;
  font-weight: 500 !important;
  margin: 0 0 10px;
}

p {
  line-height: 20px;
}

small {
  line-height: 14px !important;
}

.bp5-light small {
  color: $secondary-text-color;
}

.bp5-dark small {
  color: $dark-secondary-text-color !important;
}

strong {
  font-weight: 700;
}

.bp5-dark strong {
  color: #eeeeee;
}

h2 {
  font-size: 30px !important;
}

h3 {
  font-size: 18px !important;
  line-height: 9px !important;
}

h4 {
  font-size: 16px !important;
  line-height: 20px !important;
}

h5 {
  font-size: 14px !important;
}

@media only screen and (max-width: 750px) {
  h2 {
    font-size: 20px !important;
    line-height: 22px !important;
  }
}

hr {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  width: 100%;

  border: none;
  border-bottom: 1px solid rgba($text-color, 0.15);
}

.bp5-light hr {
  border-bottom: 1px solid $border-color;
}

.bp5-dark hr {
  border-bottom: 1px solid $dark-border-color;
}

a {
  color: $primary-color;
}

.bp5-dark a,
.bp5-dark a:hover {
  color: #48aff0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ol,
ul {
  padding-left: 25px;
}

ol li,
ul li {
  line-height: 20px;
  margin-bottom: 2px;
}

code,
pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #f5f5f5;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

code {
  font-size: 13px;
  padding: 3px;
}

pre {
  font-size: 13px;
  padding: 9px;
  overflow: auto;

  code {
    padding: initial;
    border: initial;
    border-radius: initial;
  }
}

.bp5-dark code,
.bp5-dark pre {
  border-color: #202b33;
  background-color: #293742;
}

em {
  font-style: oblique;
}

label {
  font-size: $font-size-small;
  font-weight: bold;
}

input {
  font-family: $primary-font;
  width: 100%;
  height: 35px !important;
  border-radius: 2px;
}

select {
  width: 100%;
}

table {
  width: 100%;
}

.bp5-dark td,
.bp5-dark th {
  border-color: $dark-secondary-background-color !important;
}

blockquote {
  border-left: 5px solid #eeeeee;
  padding: 10px 20px;
  margin: 0 0 20px;
}

/* Blueprint overrides */

.toast {
  margin-top: 50px;
}

.bp5-button.bp5-intent-primary,
.bp5-tag.bp5-intent-primary {
  background-color: $primary-color;
}

.bp5-button.bp5-intent-warning,
.bp5-tag.bp5-intent-warning {
  background-color: #d9822b;
  color: #fff !important;
}

.bp5-dark .bp5-button:not([class*='bp5-intent-']) {
  background-color: #394b59;
}

.bp5-dark .bp5-button:not([class*='bp5-intent-']).bp5-active {
  background-color: #202b33;
}

.bp5-dark .bp5-callout.bp5-intent-primary {
  color: unset;
}

.bp5-callout {
  padding: 10px 12px 9px;
}

.bp5-callout.bp5-intent-primary {
  color: inherit;
  background-color: rgba(19, 124, 189, 0.15);
}

.bp5-callout.bp5-callout-icon > .bp5-icon:first-child {
  top: 12px;
}

.bp5-dark .bp5-callout.bp5-intent-primary {
  background-color: rgba(19, 124, 189, 0.25);
}

table.bp5-html-table.bp5-html-table-striped tbody tr:nth-child(odd) td {
  background-color: rgba(191, 204, 214, 0.15);
}

.bp5-dark table.bp5-html-table.bp5-html-table-striped tbody tr:nth-child(odd) td {
  background-color: rgba(92, 112, 128, 0.15);
}

.bp5-dialog {
  background-color: rgb(235, 241, 245);
}

.bp5-dark .bp5-dialog {
  background-color: #293742;
  box-shadow:
    0 0 0 1px rgba(16, 22, 26, 0.4),
    0 0 0 rgba(16, 22, 26, 0),
    0 0 0 rgba(16, 22, 26, 0);
}

.bp5-dark .bp5-dialog-header {
  background-color: #30404d;
  box-shadow:
    0 0 0 1px rgba(16, 22, 26, 0.4),
    0 0 0 rgba(16, 22, 26, 0),
    0 0 0 rgba(16, 22, 26, 0);
}

/* End Blueprint overrides */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.multiline-text {
  white-space: pre-wrap;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.normal-weight {
  font-weight: normal !important;
}

.heading-with-button-action {
  display: inline-block;
  margin-bottom: 0 !important;
  margin-right: 10px;
  vertical-align: middle;
}

.col-fit {
  width: 1%;
  white-space: nowrap;
}
