@import play.i18n.Lang
@import play.mvc.Http
@import org.iatoki.judgels.play.routes

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="/"><img class="logo" src='@routes.JudgelsController.logo()' alt="Logo"/></a>
                </div>

                <div class="title pull-left">
                    <a href="/"><h1>@play.Play.application().configuration.getString("general.title")</h1></a>
                </div>

                <nav class="right-info pull-right">
                    <div class="languages">
                        <select id="languages" class="form-control selectpicker">
                        @for(lang <- Lang.availables()) {
                            <option value="@routes.JudgelsController.changeLanguage(lang.code())" @if(Http.Context.current().lang().code().equals(lang.code())) { selected }>@lang.code().toUpperCase</option>
                        }
                        </select>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
