@import '../../../../../../../../../styles/base';

.chapter-problem-page {
  flex: 1 1;
}

.chapter-problem-page__title {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 15px;
  margin-bottom: 20px;
}

.chapter-problem-page__title h3 {
  line-height: 24px !important;
  margin-bottom: 0;
}

.chapter-problem-page__title--link {
  color: inherit !important;

  &:hover {
    text-decoration: none;
    color: $primary-color !important;
  }
}

.chapter-problem-page__title--chevron {
  color: $dark-secondary-background-color !important;
}

.chapter-problem-page__prev {
  margin-right: 5px;
}
