server:
  applicationConnectors:
    - type: http
      port: 9004
  adminConnectors:
    - type: http
      port: 9014
  requestLog:
    appenders:
    - type: file
      currentLogFilename: var/log/uriel-request.log
      archivedLogFilenamePattern: var/log/uriel-request-%d.log.gz
      archivedFileCount: 14

database:
  driverClass: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost/judgels_uriel?useSSL=false
  user: uriel
  password: uriel
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.MySQL57Dialect
    hibernate.generate_statistics: false

logging:
  appenders:
    - type: console
      threshold: INFO
    - type: file
      currentLogFilename: var/log/uriel.log
      archivedLogFilenamePattern: var/log/uriel-%d.log.gz
      archivedFileCount: 14

  loggers:
    org.hibernate.type.BasicTypeRegistry:
      level: OFF

webSecurity:
  cors:
    allowedOrigins: "*"

uriel:
  baseDataDir: var/data

  jophiel:
    baseUrl: http://localhost:9001

  sandalphon:
    baseUrl: http://localhost:9002
    clientJid: JIDSACL-uriel-local
    clientSecret: sandalphon-local

  sealtiel:
    baseUrl: http://localhost:9003
    clientJid: JIDSECL-uriel-local
    clientSecret: sealtiel-local

  gabriel:
    clientJid: JIDSECL-gabriel-local

  aws:
    accessKey: xxx
    secretKey: xxx
    s3BucketRegionId: ap-southeast-1

  submission:
    fs:
      type: local

  file:
    fs:
      type: local
