server:
  applicationConnectors:
    - type: http
      port: 9004
  adminConnectors:
    - type: http
      port: 9014
  requestLog:
    appenders:
    - type: file
      currentLogFilename: var/log/uriel-request.log
      archivedLogFilenamePattern: var/log/uriel-request-%d.log.gz
      archivedFileCount: 14

database:
  driverClass: com.mysql.jdbc.Driver
  url: jdbc:mysql://localhost/judgels?useSSL=false
  user: judgels
  password: judgels
  properties:
    charSet: UTF-8
    hibernate.dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate.generate_statistics: false
    hibernate.query.plan_cache_max_size: 64
    hibernate.query.plan_parameter_metadata_max_size: 32

logging:
  appenders:
    - type: console
      threshold: INFO
    - type: file
      currentLogFilename: var/log/uriel.log
      archivedLogFilenamePattern: var/log/uriel-%d.log.gz
      archivedFileCount: 14

  loggers:
    org.hibernate.type.BasicTypeRegistry:
      level: OFF

webSecurity:
  cors:
    allowedOrigins: "*"

uriel:
  baseDataDir: var/data

  jophiel:
    baseUrl: http://localhost:9001

  sandalphon:
    baseUrl: http://localhost:9002
    clientJid: JIDSACL-uriel-local
    clientSecret: sandalphon-local

  grader:
    gradingRequestQueueName: gabriel-grading-request
    gradingResponseQueueName: uriel-grading-response

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    virtualHost: "/"

  aws:
    accessKey: xxx
    secretKey: xxx
    s3BucketRegionId: ap-southeast-1

  submission:
    fs:
      type: local

  file:
    fs:
      type: local
