.banner {
  position: relative;
  height: 330px;
  margin-top: -50px;
  margin-left: -10px;
  margin-right: -10px;
}

.banner__contents {
  position: absolute;
  margin-left: 100px;
  max-width: 50%;
}

.banner__text {
  margin-top: 40px;
  margin-bottom: 40px;
  color: white;
}

.banner__buttons {
  margin-top: 40px;
}

.banner__button {
  margin-right: 15px;
}

.banner__image {
  position: absolute;
  height: 330px;
  width: 100%;
  object-fit: cover;
  filter: opacity(40%);
}

.banner__overlay {
  position: absolute;
  height: 330px;
  width: 100%;
  object-fit: cover;
}

.banner__image {
  position: absolute;
  height: 330px;
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .banner {
    margin-top: -10px;
  }

  .banner__contents {
    max-width: 100%;
    margin: 0px 30px 30px;
  }
}
