@import '../../../../styles/base';

.form-login__actions {
  display: flex;
}

.form-login__actions-register {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  font-size: $font-size-small;
}

.form-login__actions-forgot-password {
  font-size: $font-size-small;
}
