@import '../../../../../../../styles/table';

.contest-bundle-submissions-page {
  .submissions-table {
    table-layout: fixed;
    margin-top: 20px;
    .col-item-num {
      width: 50px;
    }
    .col-prob {
      width: 80px;
    }
    .col-verdict {
      width: 70px;
      text-align: center;
    }
    .col-action {
      width: 50px;
      text-align: center;
    }
  }
}
