.contest-list-container > :first-child {
  margin-top: -20px;
}

.contest-list-container > :not(:last-child) {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}
.contest-list-container > :last-child {
  margin-bottom: -20px;
}

.contest-list-item-container {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.contest-list-item-name {
  margin-right: 10px;
}

.contest-list-item-date {
  margin-top: -4px;
}

.contest-list-item-container:hover {
  background-color: #eef2fb;
}
