@import '../../../../../../styles/table';

.contestants-table {
  .col-no {
    width: 50px;
  }
  .col-virtual-start-time {
    width: 180px;
  }
  .col-virtual-progress {
    vertical-align: middle;
  }
}
