.single-problemset-routes__header {
  margin-top: -2px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 750px) {
  .single-problemset-routes__header {
    h2 {
      font-size: 20px !important;
      line-height: 22px !important;
    }
  }
}
