- block:
  - name: Generate jerahmeel config
    template:
      src: "{{ playbook_dir }}/../conf/jerahmeel.yml.j2"
      dest: /judgels/jerahmeel/var/conf/jerahmeel.yml

  - name: Restart jerahmeel
    docker_container:
      name: jerahmeel
      restart: yes
