.bp6-card.card__title {
  display: flex;
  height: 45px;
  line-height: 9px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 1px;
}

.card__title__action {
  margin-left: 15px;
  margin-top: -8px;
}

.card__title__action_right {
  margin-left: auto;
  margin-top: -8px;
}

.bp6-card.card__content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-bottom: 10px;
  overflow-x: auto;
}

// HACK
.card__content div:has(button):first-child {
  margin-bottom: 8px;
}
