.problem-topic-tags-input__option {
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 5px;
}

.problem-topic-tags-input__option:first-child {
  margin-top: 10px;
}

.problem-topic-tags-input__option-child {
  margin-left: 25px;
}
