.problem-stats-widget {
  hr {
    margin-top: 0 !important;
  }

  .stats-value {
    float: right;
  }

  .stats-table {
    .col-rank {
      width: 35px;
    }
    .col-value {
      width: 100px;
    }
  } 
}
