.contest-registration-card {
  padding: 5px 15px;
  margin-bottom: 15px;
}

.contest-registration-card__item {
  float: left;
  margin-right: 10px;
}

.contest-registration-card__registrants {
  margin-left: 10px;
}
