.contest-manager-dialog {
  width: 350px;
}

.contest-manager-dialog-button {
  float: left;
  margin-right: 5px;
  margin-bottom: 15px;
}

.contest-manager-dialog-body {
  height: 420px;
}

.contest-manager-dialog-result-body {
  height: 420px;
  overflow-y: auto;
}

.contest-manager-dialog-result-table {
  margin-bottom: 25px;
}
