.courses {
  display: flex;
  margin-right: -10px;
}

@media only screen and (max-width: 600px) {
  .courses-card {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 900px) {
  .courses {
    display: block;
  }
}
