@import '../../styles/base';

.header {
  background-color: $primary-color !important;
  height: 60px;
}

.header, .header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}

.header__wrapper {
  margin: 0 auto;
  padding-top: 5px;
  max-width: 1250px;
}

.header__logo {
  width: 40px;
}

.header__title {
  margin-left: 20px;
  margin-right: 0;
  font-size: 23px;
}

.header__subtitle {
  font-size: 12px;
}
