@import '../../../../../../../styles/table';

.contest-bundle-problem-submission {
    .card-header {
        display: flex;
        align-items: baseline;

        h4 {
            flex: 1;
        }
    }

    .submission-table {
        table-layout: fixed;
        margin-top: 4px;
        border: solid 1px #a0a0a0;
        .col-item-num {
            width: 50px;
        }
        .col-verdict {
            width: 70px;
            text-align: center;
        }
        .col-time {
            width: 200px;
        }
    }
}
