.contest-registration-card {
  padding: 5px 10px 5px 5px;
  margin-bottom: 15px;
}

.contest-registration-card.bp6-callout {
  position: inherit;
}

.contest-registration-card--error {
  margin-bottom: 15px;
}
