.contest-registration-card {
  padding: 5px 10px 5px 5px;
  margin-bottom: 15px;
}

.contest-registration-card.bp5-callout {
  position: inherit;
}

.contest-registration-card__item {
  float: left;
  margin-right: 5px;
}

.contest-registration-card--error {
  margin-bottom: 15px;
}
