.contest-contestant-remove-dialog {
  width: 350px;
}

.contest-contestant-remove-button {
  float: left;
}

.contest-contestant-remove-dialog-body {
  height: 420px;
}

.contest-contestant-remove-dialog-result-body {
  height: 420px;
  overflow-y: auto;
}
