@use '../../styles/base' as *;

.card-sidebar {
  *:focus {
    outline: none;
  }

  .bp6-icon {
    padding-bottom: 1px;
  }

  .card__content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bp6-tab-list {
    left: -20px;
    width: 270px;
  }

  .bp6-tab-indicator {
    border-radius: 0 !important;

    .bp6-light & {
      background-color: $secondary-background-color !important;
      border-left: 3px solid $primary-color;
    }

    .bp6-dark & {
      background-color: $dark-secondary-background-color !important;
      border-left: 3px solid $gray3;
    }
  }

  .bp6-tab {
    position: relative;
    padding-left: 20px !important;
    line-height: 50px;
    height: 50px;

    &:hover {
      .bp6-light & {
        background-color: $tertiary-background-color !important;
      }

      .bp6-dark & {
        background-color: $dark-tertiary-background-color !important;
      }
    }

    &[aria-selected='true'] {
      font-weight: bold;

      .bp6-light & {
        color: $text-color;
      }

      .bp6-dark & {
        color: inherit;
      }
    }

    &[aria-selected='false'] {
      .bp6-light & {
        color: $primary-color;
      }
    }

    a {
      width: 100%;

      .bp6-dark & {
        color: $dark-text-color !important;
      }
    }
  }
}

.card-sidebar__arrow {
  float: right;

  .bp6-light & {
    color: $primary-color !important;
  }
}

.card-sidebar__full {
  display: block;
}

.card-sidebar__responsive {
  display: none !important;
}

@media only screen and (max-width: 750px) {
  .card-sidebar__full {
    display: none !important;
  }

  .card-sidebar__responsive {
    display: block !important;
    width: 200px;
    top: -15px;

    .bp6-tab-list {
      left: 0;
    }
  }

  .card-sidebar__responsive-menu {
    .bp6-icon {
      padding-bottom: 0 !important;
    }
  }
}
