@import '../../styles/base';

.card-sidebar {
  *:focus {
    outline: none;
  }

  .bp5-icon {
    padding-bottom: 1px;
  }

  .card__content {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bp5-tab-list {
    left: -20px;
    width: 270px;
  }

  .bp5-tab-indicator {
    border-radius: 0 !important;
  }

  .bp5-tab {
    a {
      width: 100%;
    }

    position: relative;
    padding-left: 20px !important;
    line-height: 50px;
    height: 50px;
  }

  .bp5-tab[aria-selected='true'] {
    font-weight: bold;
  }
}

.card-sidebar__arrow {
  float: right;
}

.card-sidebar__full {
  display: block;
}

.card-sidebar__responsive {
  display: none !important;
}

@media only screen and (max-width: 750px) {
  .card-sidebar__full {
    display: none !important;
  }

  .card-sidebar__responsive {
    display: block !important;
    width: 200px;
    top: -15px;

    .bp5-tab-list {
      left: 0;
    }
  }

  .card-sidebar__responsive-menu {
    .bp5-icon {
      padding-bottom: 0 !important;
    }
  }
}

.bp5-light .card-sidebar {
  .card-sidebar__arrow {
    color: $primary-color !important;
  }

  .bp5-tab-indicator {
    background-color: $secondary-background-color !important;
    border-left: 3px solid $primary-color;
  }

  .bp5-tab:hover {
    background-color: $tertiary-background-color !important;
  }

  .bp5-tab[aria-selected='true'] {
    color: $text-color;
  }

  .bp5-tab[aria-selected='false'] {
    color: $primary-color;
  }
}

.bp5-dark .card-sidebar {
  .bp5-tab a {
    color: $dark-text-color !important;
  }

  .bp5-tab[aria-selected='true'] {
    color: inherit;
  }

  .bp5-tab-indicator {
    background-color: $dark-secondary-background-color !important;
    border-left: 3px solid $gray3;
  }

  .bp5-tab:hover {
    background-color: $dark-tertiary-background-color !important;
  }
}
