window.conf = {
  mode: 'JUDGELS',
  name: 'Judgels',
  slogan: 'Competitive Programming Platform',
  apiUrl: 'http://localhost:9101/api/v2',
  welcomeBanner: {
    title: '<h1>Welcome to Judgels</h1>',
    description:
      '<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>',
  },
};
