.layout-full-page {
  max-width: 1160px;
  min-height: calc(100vh - 195px);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 1024px) {
  .layout-full-page {
    min-height: calc(100vh - 175px);
  }
}
