@import play.api.mvc.Call

@(pageIndex: Long, orderBy: String, orderDir: String, filterString: String, tags: List[String], newOrderBy: String, listFunc: (scala.Long, String, String, String, List[String]) => Call)

@if(newOrderBy.isEmpty()) {
    #
} else {
    @if(newOrderBy == orderBy) {
        @if(orderDir == "asc") {
            @listFunc(pageIndex, newOrderBy, "desc", filterString, tags)
        } else {
            @listFunc(pageIndex, newOrderBy, "asc", filterString, tags)
        }
    } else {
        @listFunc(pageIndex, newOrderBy, orderDir, filterString, tags)
    }
}
