@import play.api.mvc.Call

@(pageIndex: Long, orderBy: String, orderDir: String, filterString: String, tags: List[String], listFunc: (scala.Long, String, String, String, List[String]) => Call, withActions: Boolean = true)(headers: scala.Tuple2[String, String]*)

<thead>
    <tr>
        @for((header, i) <- headers.zipWithIndex) {
            <th @if(i == 0) { class="table-col-id" } >
                <a href="@pageLinkWithTagsBuilder(pageIndex, orderBy, orderDir, filterString, tags, header._1, listFunc)">
                    @header._2
                    @if(orderBy == header._1) {
                        @if(orderDir == "asc") {
                            <span class="glyphicon glyphicon-arrow-up"></span>
                        } else {
                            <span class="glyphicon glyphicon-arrow-down"></span>
                        }
                    }
                </a>
            </th>
        }

        @if(withActions) {
            <th class="table-col-actions"></th>
        }
    </tr>
</thead>
