logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
projectFilesBackup/
src/main/resources/conf/*.conf
!src/main/resources/conf/*_default.conf
