@import '../../../../../../../../../../styles/base';

table.scoreboard__content {
  td, th {
    text-align: center;
    border: 1px #dee0e1 solid;
    vertical-align: middle;
  }

  th {
    color: #3b73ba;
    font-weight: bold;
  }

  thead tr {
    height: 50px;
  }

  tbody tr {
    height: 40px;
  }

  .my-rank, .my-rank td {
    background-color: #fcf8e3 !important;
  }

  .rank-cell {
    width: 20px;
  }

  .contestant-cell {
    font-weight: bold;
    text-align: left;
  }

  .problem-cell {
    width: 60px;
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
