window.conf = {
  mode: 'JUDGELS',
  name: 'Judgels',
  slogan: 'Judgment Angels',
  apiUrls: {
    jophiel: 'http://localhost:9001/api/v2',
    uriel: 'http://localhost:9004/api/v2',
    jerahmeel: 'http://localhost:9005/api/v2',
  },
  welcomeBanner: {
    title: '<h1>Welcome to Judgels</h1>',
    description:
      '<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>',
  },
};
