@import '../../styles/base';

.menubar {
  width: 100%;
  height: 40px;
}

.bp4-light .menubar {
  background-color: white;
}

.bp4-dark .menubar {
  background-color: $dark-gray3;
}

.menubar__content {
  overflow-x: auto;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

  *:focus {
    outline: none;
  }

  .bp4-tab {
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    line-height: 40px;
    height: 40px;
    color: $primary-color;
  }

  .bp4-tab:hover {
    background-color: $tertiary-background-color;
  }

  .bp4-tab[aria-selected='true'] {
    font-weight: 600;
    background-color: $secondary-background-color !important;
    color: $text-color;
  }

  .bp4-tab-indicator-wrapper {
    height: 40px !important;
    z-index: 1;
  }

  .bp4-tab-indicator {
    background-color: red !important;
  }
}

.bp4-dark .menubar__content {
  .bp4-tab {
    color: inherit;

    a:hover {
      color: $dark-text-color;
    }
  }

  .bp4-tab:hover {
    color: $dark-text-color;
    background-color: $dark-tertiary-background-color;
  }

  .bp4-tab[aria-selected='true'] {
    font-weight: 600;
    background-color: $dark-secondary-background-color !important;
    color: inherit;
    border-bottom: 3px solid $gray3;
    box-shadow: none;
  }
}
