@import play.i18n.Messages

@(username: String, realName: String, editLink: String, logoutLink: String)

<div class="avatar clearfix">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4 col-xs-2">
                <img class="avatar-picture" src='@session().get("avatar")' alt="avatar"/>
            </div>
            <div class="col-md-8 col-xs-10">
                <div class="avatar-username">
                    @username
                </div>
                <div class="avatar-real-name">
                    @realName
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-1 avatar-menu">
                        <a href="@editLink" class="btn btn-xs">@Messages.get("commons.profile.edit")</a>
                    </div>
                    <div class="col-md-9 col-xs-11 avatar-menu">
                        <a href="@logoutLink" class="btn btn-xs">@Messages.get("commons.profile.logout")</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>