@import '../../../../../../../styles/table';

.contest-bundle-submissions-page {
  .submissions-table {
    table-layout: fixed;
    margin-top: 20px;
    .col-item-num {
      width: 50px;
    }
    .col-prob {
      width: 60px;
    }
    .col-verdict {
      width: 70px;
      text-align: center;
    }
    .col-action {
      width: 60px;

      .action-button-group {
        position: absolute;
        margin: -2px -6px -4px -6px;
      }
    }
  }
}

.regrade-button {
  float: left;
}
