.chapter-programming-problem-statement-page {
  flex: 1 1;
  max-width: 865px;

  details summary {
    cursor: pointer;
    margin-bottom: 10px;
  }

  details summary > * {
    display: inline;
  }

  .statement-header {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 15px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .statement-header__limits {
      line-height: 28px !important;
    }
  }

  .html-text > h3:first-child {
    margin-top: 0;
  }

  .chapter-programming-problem-statement-page__footer {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .chapter-programming-problem-statement-page__navigation {
    text-align: right;
  }
}
