.chapter-programming-problem-statement-page {
  flex: 1 1;
  max-width: 865px;
  overflow: auto;

  details summary {
    cursor: pointer;
    margin-bottom: 10px;
  }

  details summary > * {
    display: inline;
  }

  .statement-header {
    max-width: 800px;

    &__limits {
      white-space: nowrap;
    }

    &__problem-set-problem-paths {
      flex: 1;
    }
  }

  .chapter-problem-editorial {
    max-width: 800px;

    > hr {
      margin-top: 25px !important;
      margin-bottom: 25px !important;
    }
  }
  .chapter-programming-problem-statement-page__navigation {
    text-align: right;
  }
}
