.chapter-programming-problem-statement-page {
  flex: 1 1;
  max-width: 865px;

  details summary { 
    cursor: pointer;
    margin-bottom: 10px;
  }

  details summary > * { 
    display: inline;
  }

  .chapter-programming-problem-statement-page__footer{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  .chapter-programming-problem-statement-page__navigation {
    text-align: right;
  }
}
