.league-unrated {
  color: #252527 !important;
  font-weight: 600;
}

.league-gray {
  color: #b7b7b7 !important;
  font-weight: bold;
}

.league-green {
  color: #70ad47 !important;
  font-weight: bold;
}

.league-blue {
  color: #3c78d8 !important;
  font-weight: bold;
}

.league-purple {
  color: #7030a0 !important;
  font-weight: bold;
}

.league-orange {
  color: #f6b26b !important;
  font-weight: bold;
}

.league-red {
  color: #ff0000 !important;
  font-weight: bold;
}

.league-legend {
  color: #bb0000 !important;
  font-weight: bold;
}
