.rating-unrated {
  color: #252527 !important;
  font-weight: 600;
}

.rating-gray {
  color: #b7b7b7 !important;
  font-weight: bold;
}

.rating-green {
  color: #70ad47 !important;
  font-weight: bold;
}

.rating-blue {
  color: #3c78d8 !important;
  font-weight: bold;
}

.rating-purple {
  color: #7030a0 !important;
  font-weight: bold;
}

.rating-orange {
  color: #f6b26b !important;
  font-weight: bold;
}

.rating-red {
  color: #ff0000 !important;
  font-weight: bold;
}

.rating-legend {
  color: #bb0000 !important;
  font-weight: bold;
}
