table.pt-table.scoreboard__content tbody tr {
  td.first-accepted {
    strong, small {
        color: #fff;
    }
    background: #1f8763;
  }

  td.accepted {
    strong, small {
        color: #000;
    }
    background: #e1fdd7;
  }

  td.failed {
    strong, small {
        color: #fff;
    }
    background: #c24242;
  }
}