@import '../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

$primary-color: #3b73b9;
$text-color: #252527;
$secondary-text-color: #5d5d66;
$div-hover-color: #eef2fb;
$header-color: #fbfbfc;

$dark-text-color: #c9d1d9;
$dark-secondary-text-color: $gray4;
$dark-secondary-background-color: $gray1;
