@import play.mvc.Http.Context
@import org.iatoki.judgels.play.banner.BannerConfig
@import org.iatoki.judgels.play.banner.html.bannerView
@import org.iatoki.judgels.play.JudgelsPlayUtils
@import org.iatoki.judgels.play.template.InternalLink
@import org.iatoki.judgels.play.template.base.html.breadcrumbsView

@(locations: List[InternalLink], bannerConfig: BannerConfig)(content: Html)

@if(Context.current().args.getOrDefault("breadcrumbs.isBefore", java.lang.Boolean.valueOf(true)) == true) {
    @if(JudgelsPlayUtils.isFullscreen(Context.current().request())) {
        <div class="hidden">
        }
    @breadcrumbsView(locations)
    @if(JudgelsPlayUtils.isFullscreen(Context.current().request())) {
    </div>
    }
    @if(bannerConfig != null) {
        @bannerView(bannerConfig)
    }
    @content
} else {
    @if(bannerConfig != null) {
        @bannerView(bannerConfig)
    }
    @content
    @if(JudgelsPlayUtils.isFullscreen(Context.current().request())) {
        <div class="hidden">
        }
    @breadcrumbsView(locations)
    @if(JudgelsPlayUtils.isFullscreen(Context.current().request())) {
    </div>
    }
}
