@import '../../styles/base';

pre.source-code {
  border-color: #cccccc;
  background-color: #f5f5f5 !important;
  overflow-y: auto !important;

  .bp6-light & {
    .token {
      background-color: inherit !important;
    }
  }

  .bp6-dark & {
    border-color: #202b33;
    background-color: #293742 !important;
  }
}
