@import '../../../../../../styles/base';

.contest-table-container > :first-child {
  margin-top: -20px;
}

.contest-table-container > :not(:last-child) {
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}
.contest-table-container > :last-child {
  margin-bottom: -20px;
}

.contest-table-item-container {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.contest-table-item-name {
  margin-right: 10px;
}

.contest-table-item-date {
  margin-top: -4px;
}

.contest-table-item-container:hover {
  background-color: $div-hover-color;
  cursor: pointer;
  text-decoration: none;
}
