@forward '../../../node_modules/@blueprintjs/core/lib/scss/variables.scss';

$background-color: #f4f5f6;
$primary-color: #3b73b9;
$text-color: #252527;
$secondary-text-color: #5d5d66;
$secondary-background-color: #eef2fb;
$tertiary-background-color: rgba(191, 204, 214, 0.4);
$border-color: rgba($text-color, 0.15);

$dark-background-color: #394b59;
$dark-text-color: #c9d1d9;
$dark-blue-main-background-color: #0c5174;
$dark-blue-secondary-background-color: rgba(19, 124, 189, 0.25);
$dark-secondary-text-color: #abb3bf;
$dark-secondary-background-color: #5c7080;
$dark-tertiary-background-color: rgba(92, 112, 128, 0.3);
$dark-card-background-color: #30404d;
$dark-border-color: #5c7080;
