@import '../../../../styles/base';

.problemset-card .content-card-link {
  padding-bottom: 15px;
}

.problemset-card__name {
  margin-right: 10px;
}

.problemset-card__description {
  color: $small-color;
  font-size: $font-size-small;
}
