@import '../../../../styles/base';

.problemset-card .content-card-link {
  padding-bottom: 5px;
}

.problemset-card-name {
  margin-right: 10px;
}

.problemset-card-description {
  color: $small-color;
  font-size: $font-size-small;
}
