@import '../../../../styles/base';

.problemset-card {
  p {
    color: $text-color !important;
  }
}

.problemset-card-name {
  margin-right: 10px;
}

.problemset-card-date {
  margin-top: -4px;
  margin-bottom: 0;
}

.problemset-card-role {
  float: right;
}
