.single-course-chapter-routes {
  h2 {
    margin-top: -2px;
  }
}

@media only screen and (max-width: 750px) {
  .single-course-chapter-routes {
    h2 {
      font-size: 20px !important;
      line-height: 22px !important;
    }
  }
}
