@import '../../../../../../../../../../styles/base';

.contestant-problem-card {
  display: block;
  margin: -15px;
  padding: 15px;
}

.contestant-problem-card:hover {
  background-color: $div-hover-color;
  cursor: pointer;
  text-decoration: none;
}

.contestant-problem-card__name {
  float: left;
}

.contestant-problem-card__status {
  color: $text-color !important;
  float: right;
}

.clearfix {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
