@import play.mvc.Controller

@()

@if(Controller.flash("flashError") != null) {
    <div class="box-alert alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Controller.flash("flashError")
    </div>
}
@if(Controller.flash("flashInfo") != null) {
    <div class="box-alert alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Controller.flash("flashInfo")
    </div>
}
