@import java.text.SimpleDateFormat
@import java.util.Date
@import play.i18n.Messages
@import org.apache.commons.lang3.StringUtils
@import org.iatoki.judgels.play.general.GeneralConfig

@(generalConfig: GeneralConfig)

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <div class="copyright">
                        &#169; @(new SimpleDateFormat("yyyy").format(new Date())) <a href="@generalConfig.getGithubUrl" target="_blank">@generalConfig.getCopyright</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
