@import play.i18n.Lang
@import play.mvc.Http
@import org.iatoki.judgels.play.general.GeneralConfig
@import org.iatoki.judgels.play.routes

@(config: GeneralConfig)

<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left">
                    <a href="/"><img class="logo" src='@routes.JudgelsController.logo()' alt="Logo"/></a>
                </div>

                <div class="title pull-left">
                    <a href="/"><h1>@config.getTitle</h1></a>
                </div>
            </div>
        </div>
    </div>
</header>
