.chapter-bundle-problem-submissions-page {
  flex: 1 1;

  .chapter-problem-editorial {
    margin-left: auto;
    margin-right: auto;

    > hr {
      margin-top: 25px !important;
      margin-bottom: 25px !important;
    }
  }

  .chapter-problem-navigation {
    float: right;
  }
}
