@import '../../styles/base';

.header {
  height: 50px;
}

.bp4-light .header {
  background-color: $primary-color !important;
  height: 50px;
}

.bp4-dark .header {
  color: $dark-text-color !important;
  background-color: $dark-blue-main-background-color !important;
}

.bp4-dark .header a {
  color: $dark-text-color !important;
}

.header,
.header a {
  color: white;
}

.header a:hover {
  text-decoration: none;
}

.header__wrapper {
  margin: 0 auto;
  max-width: 1250px;
}

.header__logo {
  margin-top: 3px;
  height: 40px;
}

.header__title {
  margin-left: 20px;
  margin-right: 0;
  font-size: 26px;
  font-weight: bold;
}

.header__subtitle {
  font-size: 11px;
  line-height: 22px;
}

.header__flag {
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -3px;
  display: inline-block;
}

@media only screen and (max-width: 750px) {
  .header__subtitle {
    display: none;
  }
}
