.contest-clarification-card {
  h5 {
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    float: left;
    font-size: 16px !important;
  }

  hr {
    margin-top: 0 !important;
  }
}

.contest-clarification-card__answer {
  margin-top: 10px;
}
