.hall-of-fame-widget {
  .card__content {
    padding: 0;
  }
}

.hall-of-fame-widget__table {
  td, th {
    border-bottom: none !important;
  }

  th {
    border-top: none !important;
  }

  tr:nth-child(1) {
    td {
      border-top: none !important;;
    }
  }

  .col-rank {
    border-left: none !important;;
    width: 35px;
    text-align: center;
  }

  .col-rating {
    border-right: none !important;;
  }
}
