@import '../../../../styles/base';

.home__text {
  text-align: center;
}

.home__icon {
  color: $primary-color;
  font-size: 30px !important;
}

.home__text--small {
  font-size: $font-size-small;
}

.home__link {
  color: $primary-color;
  font-size: $font-size-large;
  margin: 0;
}
