.html-text {
  line-height: 20px !important;

  h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 10px !important;
  }

  table {
    width: inherit;
  }

  td, th {
    border: solid 1px #cccccc;
    text-align: left;
    padding: 5px;
  }

  th {
    background-color: #eeeeee;
    font-weight: bold;
  }

  code, pre {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  }

  pre {
    font-size: 13px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
}
