name: release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-22.04
    env:
      CONTAINER_REGISTRY_USERNAME: ${{ secrets.CONTAINER_REGISTRY_USERNAME }}
      CONTAINER_REGISTRY_TOKEN: ${{ secrets.CONTAINER_REGISTRY_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 50

      - name: Install docker for ansible
        run: |
          ansible-galaxy collection install community.docker:3.10.2
          pipx inject ansible-core docker six

      - id: get-release-version
        name: Get the release version
        run: |
          echo result=`echo ${{ github.ref }} | awk '{print substr($0, 12)}'` >> $GITHUB_OUTPUT 

      - name: Release judgels
        run: APP_VERSION=${{ steps.get-release-version.outputs.result }} ./deployment/scripts/release_judgels.sh
