@import '../../../../../styles/base';

.course-chapters-sidebar {
  font-family: $accent-font;
  background-color: inherit !important;
  box-shadow: none !important;
  border-right: 1px solid $border-color;
}

a.course-chapters-sidebar__item {
  display: block;
  padding: 10px;

  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    background-color: $tertiary-background-color;
  }

  &--selected {
    background-color: $tertiary-background-color;
  }
}

.course-chapters-sidebar__title {
  h4 {
    display: inline-block;
  }

  .bp4-icon {
    margin-right: 10px;
  }
}

.bp4-dark {
  .course-chapters-sidebar {
    border-color: $dark-border-color;
  }

  a.course-chapters-sidebar__item {
    &:hover {
      background-color: $dark-tertiary-background-color;
    }
  
    &--selected {
      background-color: $dark-secondary-background-color;
    }
  }

  a.course-chapters-sidebar__item:hover.course-chapters-sidebar__item--selected{
    background-color: $dark-secondary-background-color;
  }
}

@media only screen and (max-width: 780px) {
  .course-chapters-sidebar {
    border-right: none;
  }
}
