@import '../../../../../styles/base';

.course-chapters-sidebar {
  flex-grow: 1;
  max-width: 300px;
  margin-top: 56px;
  margin-right: 10px;
  font-family: $accent-font;
  background-color: inherit !important;
  box-shadow: none !important;

  transition: all 0.2s ease-in-out;

  hr {
    margin: 0 !important;
  }

  &--compact {
    flex-grow: unset;
  }
}

a.course-chapters-sidebar__item {
  display: block;
  padding: 10px;
  margin-bottom: 1px;

  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    background-color: $tertiary-background-color;
    border-radius: 3px;
  }

  &--selected {
    background-color: $tertiary-background-color;
    border-radius: 3px;
  }
}

.course-chapters-sidebar__title {
  h4 {
    display: inline-block;
  }

  .bp4-icon {
    margin-right: 10px;
  }
}

.bp4-dark {
  .course-chapters-sidebar {
    border-color: $dark-border-color;
  }

  a.course-chapters-sidebar__item {
    &:hover {
      background-color: $dark-tertiary-background-color;
    }
  
    &--selected {
      background-color: $dark-secondary-background-color;
    }
  }

  a.course-chapters-sidebar__item:hover.course-chapters-sidebar__item--selected {
    background-color: $dark-secondary-background-color;
  }
}

@media only screen and (max-width: 750px) {
  .course-chapters-sidebar {
    max-width: none;
    margin-top: 0;
  }
}
