logging:
  appenders:
    - type: console
      threshold: INFO
      logFormat: "%-5p [%d{ISO8601,UTC}] [%X{gradingJID:--}]: %m%n%rEx"
    - type: file
      logFormat: "%-5p [%d{ISO8601,UTC}] [%X{gradingJID:--}]: %m%n%rEx"
      currentLogFilename: var/log/judgels-grader.log
      archivedLogFilenamePattern: var/log/judgels-grader-%d.log.gz
      archivedFileCount: 14

judgels:
  baseDataDir: var/data

  rabbitmq:
    host: localhost
    username: guest
    password: guest

gabriel:
  grading:
    gradingRequestQueueName: gabriel-grading-request
    numWorkerThreads: 2

  cache:
    cachedBaseDataDir: ../judgels-server/var/data

#  isolate:
#    baseDir: /judgels/isolate
